body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
}

.header__logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.header__nav {
  list-style-type: none;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.header__subtext,
.header__nav {
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
}

.placeholder {
  color: white;
  background-color: #c0c3c8;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
