body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
  padding: 0 210px;
}

.header__logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.header__nav {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container-two {
  margin: 120px 0px 130px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 0 1 450px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
}

.header__subtext {
  margin: 0;
}

.header__subtext,
.header__nav {
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
}

.placeholder {
  color: white;
  background-color: #6e747c;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.header__button {
  margin-top: 15px;
  border: none;
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 5px;
  height: 40px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin: 50px 0px 50px 0px;
}

.round-square {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  border: 4px solid #3882f6;
}

.information {
  padding: 0 210px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.information__container {
  width: 820px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.information__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information__item p {
  margin: 11px auto 0 auto;
  width: 160px;
  font-size: 18px;
  font-weight: 300;
}

.quote {
  height: 430px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  width: 780px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

blockquote {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

cite {
  margin-left: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
}

.action {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action__card {
  width: 1022px;
  height: 150px;
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.action__left {
  display: flex;
  flex-direction: column;
}

.action__left h3 {
  margin-bottom: 0;
}

.action__left p {
  margin-top: 0;
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
}

.action__button {
  border: 2px solid #f9faf8;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  height: 40px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
